Alias /wordpress {{ wordpress_directory }} 
2 
 
3 <Directory {{ wordpress_directory }}> 
4   AllowOverride Options 
5   <IfModule mod_authz_core.c> 
6     # Apache 2.4 
7     Require all granted 
8   </IfModule> 
9   <IfModule !mod_authz_core.c> 
10     # Apache 2.2 
11     Order Deny,Allow 
12     Deny from All 
13     Allow from 127.0.0.1 
14     Allow from ::1 
15  </IfModule> 
16 </Directory> 
17 
 
18 <Directory {{ wordpress_directory }}/wp-content/plugins/akismet> 
19   <FilesMatch "\.(php|txt)$"> 
20     Order Deny,Allow 
21     Deny from all 
22   </FilesMatch> 
23 </Directory> 
