# Samba configuration -- Managed by Ansible, please don't edit manually
# vim: ft=samba
#
# {{ ansible_managed }}

[global]
  # Server information
  netbios name = {% if samba_netbios_name is defined %}{{ samba_netbios_name }}{% else %}{{ ansible_hostname }}{% endif %}

  workgroup = {{ samba_workgroup }}
  server string = {{ samba_server_string }}

  # Logging
{% if samba_log is defined %}
  log file = {{ samba_log }}
  max log size = {{ samba_log_size }}
{% else %}
  syslog only = yes
  syslog = 1
{% endif %}

  # Authentication
  security = {{ samba_security }}
  passdb backend = {{ samba_passdb_backend }}
  map to guest = {{ samba_map_to_guest }}

  # Name resolution: make sure \\NETBIOS_NAME\ works
  wins support = yes
  local master = yes
  domain master = yes
  preferred master = yes

{% if not samba_load_printers %}
  # Don't load printers
  load printers = no
  printing = bsd
  printcap name = /dev/null
  disable spoolss = yes
{% endif %}

{% if samba_load_homes %}
## Make home directories accessible
[homes]
  comment = Home Directories
  browseable = no
  writable = yes
{% endif %}

{% if samba_shares is defined %}
## Shared directories
{% for share in samba_shares %}
[{{ share.name }}]
{% if share.comment is defined %}
  comment = {{ share.comment }}
{% endif %}
  path = {{ samba_shares_root }}/{{ share.name }}
  public = {{ share.public|default('no') }}
{% if share.valid_users is defined %}
  valid users= {{ share.valid_users }}
{% endif %}
{% if share.write_list is defined %}
  write list = {{ share.write_list }}
{% endif %}
{% if share.group is defined %}
  force group = {{ share.group }}
{% endif %}
  create mask = {{ share.create_mask|default('0664') }}
  create mode = {{ share.create_mode|default('0664') }}
  force create mode = {{ share.force_create_mode|default('0664') }}
  directory mask = {{ share.directory_mask|default('0775') }}
  directory mode = {{ share.directory_mode|default('0775') }}
  force directory mode = {{ share.force_directory_mode|default('0775') }}

{% endfor %}
{% endif%}
