# The default compiled in settings are fairly paranoid. This sample file
# loosens things up a bit, to make the ftp daemon more usable.
# Please see vsftpd.conf.5 for all compiled in defaults.
#
# READ THIS: This example file is NOT an exhaustive list of vsftpd options.
# Please read the vsftpd.conf.5 manual page to get a full idea of vsftpd's
# capabilities.
#
#

local_root= {{vsftpd_root}}
{% if vsftpd_allow_anonymous is defined %}
anonymous_enable={{vsftpd_allow_anonymous}}
{% endif %}

#user acces
local_enable=YES
local_umask=022
userlist_deny=YES
write_enable=YES
guest_enable=NO

connect_from_port_20=YES
listen=YES
listen_ipv6=NO
pam_service_name=vsftpd